.row
  %footer.text-center
    .footer-below
      .container
        .row
          .col-lg-12
            Copyright © Saif Chaudhry 2018
          .col-lg-12
            %b Email:
            schaudhry722@gmail.com
            %b Phone:
            +923086808354
